body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212; /* Negro elegante */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header { padding: 40px; }
.logo { font-size: 2rem; font-weight: bold; letter-spacing: 2px; }
.logo span { color: #ffcc00; } /* Amarillo llantera */

.hero { text-align: center; margin-bottom: 50px; }
.hero h1 { font-size: 3rem; margin: 0; }
.hero p { color: #888; font-size: 1.2rem; }

.servicios {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    border: 1px solid #333;
    transition: 0.3s;
}

.card:hover {
    border-color: #ffcc00;
    transform: translateY(-10px);
}

.card i { color: #ffcc00; margin-bottom: 15px; width: 48px; height: 48px; }

.btn-whatsapp {
    margin-top: 50px;
    background-color: #25d366;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
